body {
    background-color: #4d7f9e;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10%;
    padding: 4%;
    width: 30%;
    height: 30%;
    border-radius: 2%;
    background-color: #b0a0ab;
}

.btn {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    padding: 0.6% 1%;
    margin-top: 4%;
    background-color: rgba(152,152,152, 0.8);
}